services:
  # Odoo Uygulama Servisi
  web:
    image: odoo:16.0 # Kullanmak istediğiniz Odoo sürümü
    depends_on:
      - db
    ports:
      - "8069:8069" # Odoo arayüzü bu porttan erişilebilir olacak
    volumes:
      # Kendi özel modüllerinizin olduğu dizini konteynere bağlar
      - ./addons:/mnt/extra-addons 
      # Veritabanı şifresi ve kullanıcı adı
      - ./odoo.conf:/etc/odoo/odoo.conf
    environment:
      # Bu ayarlar db servisi ile eşleşmeli
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo_user
      - POSTGRES_PASSWORD=super_secret_password # BURAYI MUTLAKA DEĞİŞTİRİN
      # Odoo'nun modülleri nerede arayacağını söyler
      - ODOO_EXTRA_ADDONS=/mnt/extra-addons
      # Kurulum ve debug için
      - HOST=db

  # PostgreSQL Veritabanı Servisi
  db:
    image: postgres:14 # Odoo ile uyumlu bir PostgreSQL sürümü
    environment:
      # web servisi ile aynı ayarlar olmalı
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo_user
      - POSTGRES_PASSWORD=super_secret_password # BURAYI MUTLAKA DEĞİŞTİRİN
    volumes:
      # Veritabanı verilerinin kalıcı olarak saklanması için volume
      - odoo-db-data:/var/lib/postgresql/data

# Kalıcı Veri Volume'ü Tanımları
volumes:
  odoo-db-data: